@font-face
  font-family 'diamante'
  font-style normal
  font-weight 200
  src local('Diamante'), local('Diamante'), url('/fonts/diamante.otf') format('opentype')
  font-smoothing antialiased
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

@font-face
  font-family 'janson'
  font-style normal
  font-weight 200
  src local('Janson'), local('Janson'), url('/fonts/janson.otf') format('opentype')
  font-smoothing antialiased
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


.janson
  font-family 'janson'


.diamante
  font-family 'diamante'
  letter-spacing .1em
