*, *:before, *:after
  margin 0
  padding 0
  -webkit-box-sizing border-box
  box-sizing border-box

h1, h2, h3, h4
  font-weight normal
h1
  font-size 1.5em
h2
  font-size 1em
h3
  font-size .7em

::selection
  background none
  color #fff
  text-shadow none
