@require 'nib'
@import './imports/reset'
@import './imports/colors'
@import './imports/fonts'

body
  height 100%
  width 100%
  background black
  font-family 'Janson'
  color white
  font-size 1em
  user-select none

a
  color white
