doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no')
    title WEBSITE
    link(rel='stylesheet' href='/build/css/main.css')
    script(src='/build/js/jquery.js')
    script(src='/build/js/main.js')

  body
    .content
